@font-face {
  font-family: "Akkurat";
  src: url("/fonts/Akkurat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("/fonts/Akkurat.ttf") format("truetype");
  font-weight: 500;
}


body {
  background-color: #000;
  color: #fff;
  font-family: "Akkurat", sans-serif;
}

.header_top_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.navigation_wrap {
  order: 1;
}

.logo {
  order: 2;
}

.information {
  order: 3;
}
