body {
  background-color: #000;
  color: #fff;
  font-family: "Akkurat", sans-serif;
}

@font-face {
  font-family: "Akkurat";
  src: url("/fonts/Akkurat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("/fonts/Akkurat.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
}

.header_top_wrap {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 20px 20px 120px;
  .logo {
    order: 2;
    font-family: "Lora";
    font-size: 45px;
    text-align: center;
  }

  .information {
    order: 3;
    font-size: 12px;
    justify-self: end;
  }
}

.navigation_wrap {
  order: 1;
  display: inline-block;
  position: relative;
  padding-left: 10px;
  top: -80px;
  li{
    margin-bottom: 3px;
  }
  button {
    opacity: 1;
    width: 100%;
    text-align: left;
    transition: opacity 0.5s;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    &:hover {
      opacity: 0.5;
    }
  }
}
