@font-face {
  font-family: 'Akkurat';
  src: url('/fonts/Akkurat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Akkurat', sans-serif;
}
